{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Hours</title>
  </head>
  <body>
    <header>
      <h1>Little Taco Shop Hours</h1>
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'home' %}#about">About LTS</a></li>
          <li><a href="{% url 'home' %}#menu">Our Menu</a></li>
          <li><a href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
      </nav>
      <figure>
        <img
          src="{% static 'img/tacos_tray_400x267.png' %}"
          alt="Tacos in a tray"
          width="400"
          height="267"
        />
        <figcaption>A Tray of Tasty Tacos</figcaption>
      </figure>
      <hr />
    </header>
    <main>
      <p>We are open 7 days a week!</p>
      <dl>
        <dt>Sunday-Thursday</dt>
        <dd>11am-9pm</dd>
        <dt>Friday-Saturday</dt>
        <dd>11am-11pm</dd>
      </dl>
      <a href="#">Back to Top</a>
    </main>
    <hr />
    <footer>
      <p>Copyright &copy; The Little Taco Shop</p>
    </footer>
  </body>
</html>
